body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Karla, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #b0dfae;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #b4c7d0;
  border: 3px solid transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-track-piece {
  background: 0 0;
}
#app {
  max-width: 510px;
  margin: 50px auto;
  padding: 0 10px;
}

h2.title {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  position: relative;
  border: 1px solid #59daac;
  border-radius: 10px;
  margin-left: 20px;
  flex: 1;
  height: 40px;
  background: 0 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  padding-left: 10px;
  position: relative;
  width: 50%;
  z-index: 1;
}

input:focus-visible {
  outline-color: #009758;
  outline-style: solid;
}
button {
  width: 60px;
  color: #ffffff;
  background-color: #59daac;
  border-radius: 10px;
  border-style: none;
  margin-left: 10px;
  margin-right: 20px;
}

.todo-card {
  width: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #59daac;
  border-style: solid;
  min-height: 800px;
}

.input-container {
  display: flex;
}

.todos-container {
  padding: 0 15px;
  margin: 15px;
  margin-top: 25px;
  flex-direction: column;
  display: flex;
}

.todo-item {
  padding: 0 8px;
  height: 35px;
  line-height: 35px;
  margin: 6px 0;
  cursor: default;
  flex: 1;
  display: flex;
  align-items: center;
}

.todo-item .completed {
  text-decoration: line-through;
}

.todo-item:hover {
  background: #f7fcfa;
}

.material-icons {
  font-size: 20px;
  color: rgba(247, 93, 93, 0.733);
  margin-left: 8px;
  margin-left: auto;
}

.logg {
  margin-top: 100px;
}

.todo-list .list {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.todo-list .list .text {
  padding: 0 8px;
  height: 35px;
  line-height: 35px;
  margin: 6px 0;
  cursor: default;
  flex: 1;
}
.todo-list .list .text.completed {
  text-decoration: line-through;
}
.todo-checkbox {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}
.todo-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -5px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.42);
  outline: none;
  opacity: 0;
  transform: scale(1);
  -ms-transform: scale(0); /* Graceful degradation for IE */
  transition: opacity 0.5s, transform 0.5s;
}
.todo-checkbox > input:checked {
  background-color: #2196f3;
}
.todo-checkbox > input:disabled {
  opacity: 0;
}
.todo-checkbox > input:disabled + span {
  cursor: initial;
}
.todo-checkbox > span::before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  border: solid 2px rgba(0, 0, 0, 0.42);
  border-radius: 2px;
  width: 14px;
  height: 14px;
  vertical-align: -4px;
  transition: border-color 0.5s, background-color 0.5s;
}
.todo-checkbox > input:checked + span::before {
  border-color: #41b883;
  background-color: #41b883;
}
.todo-checkbox > input:active + span::before {
  border-color: #41b883;
}
.todo-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.42);
}
.todo-checkbox > span::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 10px;
  border: solid 2px transparent;
  border-left: none;
  border-top: none;
  transform: translate(5.5px, 1px) rotate(45deg);
  -ms-transform: translate(5.5px, 2px) rotate(45deg);
}
.todo-checkbox > input:checked + span::after {
  border-color: #fff;
}
